body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f4;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #f4f4f4;
    position: relative;
}

.navbar-brand {
    color: #003580;
    font-weight: bold;
}

    .navbar-brand:hover {
        color: #d4b720;
    }

.nav-link {
    color: #003580;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #480a07;
    }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg fill='none' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'> <path stroke='%23A50000' stroke-width='3' stroke-linecap='round' d='M4 7h22'/> <path stroke='%23D4AF37' stroke-width='3' stroke-linecap='round' d='M4 15h22'/> <path stroke='%2300008B' stroke-width='3' stroke-linecap='round' d='M4 23h22'/> </svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navbar .olympics-symbol {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .olympics-symbol img {
        height: 40px; 
        width: auto;; 
    }
/* Carousel */
.carousel-inner {
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

    .carousel-item h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 1px 1px 2px #003580;
        font-size: calc(1.5rem + 1vw);
        text-align: center;;
        padding: 10px 20px;
        border-radius: 5px;
    }

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: brightness(0) invert(1);
}
